<nav class="navbar navbar-expand-lg navbar-dark">

	<div class="navbar-header">
		<a class="navbar-brand" href="#"><i class="material-icons">school</i>
			Mentor On Demand</a>
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav  ml-auto">
			<li class="nav-item" *ngIf="!this.authService.mentor">
				<a class="nav-link waves-light " routerLink="search/"> Home </a>
			</li>

			<li class="nav-item" *ngIf="this.authService.mentor">
					<a class="nav-link waves-light " routerLink="mentorHome/"> Home </a>
				</li>
	
			<li class="nav-item" *ngIf="loggedIn()">
				<a class="nav-link waves-light"> <i class="material-icons icon text-white">person</i>
					{{this.authService.username}} </a>
			</li>

			<li class="nav-item" *ngIf="loggedIn() &&  this.authService.mentor">
					<a class="nav-link waves-light" routerLink="editSkill/" >Add Skills</a>
			</li>

			<li class="nav-item" *ngIf="loggedIn()" (click)="this.authService.logout()">
				<a class="nav-link waves-light " routerLink="Menu/" (click)="exit()">Logout</a>
			</li>

			<li class="nav-item" *ngIf="!loggedIn()">
				<a class="nav-link waves-light " routerLink="login/">Login</a>
			</li>
			
			<li class="nav-item"  *ngIf="!loggedIn()">
				<a class="nav-link waves-light" routerLink="signup/"> SignUp</a>
			</li>

		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
